body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.center {

	text-align: center;
}

.divapp {

	background-color: grey;
}

.carddiv {

	 background-color: lightgrey;
	 border: 1px outset black;
	 border-bottom: 1px;
}
.right-name {

	text-align: right;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.left-name{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	font-family: "Courier New", Courier, monospace;

}

.title{

	font-family: Impact, Charcoal, sans-serif;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.character {
	border: 1px outset black;
}

.character-left {

   text-align: center;
   border-right: 1px outset black;
}

.counter {

	text-align: center;
	border-left: 1px outset black;
}

.counter-table {

	padding-top: 5px;
	padding-bottom: 10px;
}

.person-info{

	padding-top: 10px;
	padding-bottom: 10px;
}